.project {
  background-color: var(--bg);
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.project_container {
  width: 65%;
}

.project_nav {
  width: 100%;
  min-height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navlink {
  text-decoration: none;
  color: var(--link);
  font-size: 1rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.navlink:first-child:hover {
  text-decoration: underline;
}

.description {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}

.designation {
}
