.archives_container {
  margin-top: 10rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.archives {
  width: 60%;
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 2rem;
}

.archives_content {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}

.archives_card {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-decoration: none;
}

.archives_card:link,
.archives_card:visited,
.archives_card:hover,
.archives_card:active {
  text-decoration: none;
}

.archives_img {
  max-width: 100%;
  height: auto;
  border-radius: 1.2rem;
}

.archives_title {
  font-size: 1.3rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--dark);
  transition: 1s ease-in-out;
  text-decoration: none;
}

.archives_title:hover {
  text-decoration: underline;
}

.archives_description {
  color: var(--title);
  text-decoration: none;
  font-size: 1rem;
}

.archives_designation {
  color: var(--link);
  text-transform: uppercase;
  font-weight: 600;
  font-size: 0.9rem;
  text-decoration: none;
}

.archives_btn {
  background-color: var(--color);
  border: 1px solid var(--color);
  color: var(--bg);
  padding: .75rem 1.5rem;
  border-radius: 0.5rem;
  /* transition: 1s ease-in-out; */
  cursor: pointer;
  margin-top: 5rem;
  font-size: 1.25rem;
  text-decoration: none;
}

.archives_btn:hover {
  background-color: var(--dark);
  /* color: #fff; */
}

@media screen and (max-width: 1200px) {
  .archives,
  .archives_content {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  .archives_content {
    grid-template-columns: repeat(1, 1fr);
  }
}